.title-text {
    text-align: center;
    font-style: italic;
    color: #fdd5b1 !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff4500;
}

.subtitle-text {
    text-align: center;
    font-style: italic;
    color: #fdd5b1 !important;
    margin-top: 0px !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff4500;
}

.worksheet-button {
    width: 100%;
    margin-bottom: 12px !important;
}

.share-button {
    display: flex;
    button {
        flex: 1;
        min-height: 40px !important;
    }
}

.error-message {
    font-style: italic;
}

.header-div {
    display: flex;
    align-items: center;
    .header-text {
        flex: 1;
        font-weight: bold;
        font-size: 18px;
    }
    .close-button {
        flex: 0;
    }
}

.ui.modal > .content.no-padding {
    padding: 0px !important;
}

.dropdown-option {
    cursor: pointer;
    display: flex;
    .option-text {
        flex: 1;
    }
    .option-icon {
        flex: 0;
    }
}

.app-container {
    max-width: 500px;
    margin: auto;
    padding: 14px 14px 0px 14px;
    display: flex;
    flex-direction: column;
    .app-content {
        flex: 1;
    }
    footer {
        flex: 0;
        width: 100%;
        text-align: center;
        font-size: x-small;
        color: grey;
        padding-bottom: 7px;
        .divider {
            margin: 14px 0px 7px !important;
        }
        .separator {
            margin: 0px 14px;
        }
    }
}
